.brand-slider-section-center {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenedor */
    align-items: center; /* Centra verticalmente el contenedor, si es necesario */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    padding: 20px; /* Agrega espacio alrededor, si lo deseas */
}

.brand-container {
    display: flex; /* Utiliza flexbox para alinear las tarjetas */
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en múltiples líneas si es necesario */
    justify-content: center; /* Centra las tarjetas dentro del contenedor */
}

.brand-card {
    margin: 10px; /* Espaciado entre las tarjetas */
    text-align: center; /* Centra el texto dentro de cada tarjeta */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
}

.brand-card img {
    max-width: 100%; /* Asegura que las imágenes no excedan el tamaño de la tarjeta */
    height: auto; /* Mantiene la proporción de la imagen */
}


.brand-card p {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

.brand-card:hover {
    transform: scale(1.05);
}

/* Estilos responsivos */
@media (max-width: 1024px) {
    .brand-card {
        width: 120px; /* Ajusta el tamaño de las tarjetas en pantallas medianas */
        height: 180px;
    }
    .brand-card img {
        width: 90px; /* Ajusta el tamaño de las imágenes para pantallas medianas */
        height: 90px;
    }
}

@media (max-width: 600px) {
    .brand-slider {
        flex-wrap: wrap; /* Permite que las tarjetas se ajusten a nuevas filas */
        justify-content: center; /* Centra las tarjetas en la fila */
    }
    
    .brand-card {
        width: calc(50% - 10px); /* Dos tarjetas por fila, menos el espacio */
        height: 150px; /* Ajusta la altura si es necesario */
        margin-bottom: 20px; /* Espacio entre filas */
    }
    .brand-card img {
        width: 80px; /* Ajusta el tamaño de las imágenes para pantallas pequeñas */
        height: 80px;
    }
}
