.car-slider {
  display: flex;
  align-items: center;
}

.scroll-button {
  font-size: 1.5rem;
  background-color: #6c757d;
  border: none;
  padding: 10px;
  color: rgb(10, 10, 10);
  cursor: pointer;
}

.scroll-button:hover {
  background-color: #5a6268;
}

.car-list {
  overflow-x: auto;
  display: flex;
  justify-content: space-between;
}

.car-card {
  transition: transform 0.3s;
}

.car-card:hover {
  transform: scale(1.05);
}

.card-img-top {
  height: 150px;
  object-fit: cover;
}
