.car-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
}

.car-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 90%;
  max-width: 1200px; /* Para limitar el ancho */
}

.car-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 250px;
  margin: 0 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
  flex: 0 0 25%; /* Hace que 4 tarjetas se muestren al mismo tiempo */
}

.car-card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.car-card:hover {
  transform: scale(1.05);
}

.car-card h2 {
  font-size: 1.2em;
  margin: 10px 0;
}

.car-card p {
  font-size: 0.9em;
  color: #555;
}

.car-card .btn-details {
  background-color: #f8c300;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  font-weight: bold;
  font-size: 1em;
}

.car-card .btn-details:hover {
  background-color: #e6ae00;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  color: white;
  border: none;
  font-size: 2em;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.scroll-button.left {
  left: 0;
}

.scroll-button.right {
  right: 0;
}
@media (max-width: 768px) {
  .car-card {
    flex: 0 0 50%; /* Mostrar solo 2 tarjetas en pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .car-card {
    flex: 0 0 100%; /* Mostrar solo 1 tarjeta en pantallas muy pequeñas */
  }
}
